<table class="table table-hover">
  <thead class="headerTable">
  <tr>
    <th>Picture</th>
    <th>First name</th>
    <th>Last Name</th>
    <th>Number</th>
    <th>Job</th>
  </tr>
  </thead>
  <tbody class="bodyTable">
  <tr *ngFor="let worker of coWorker" [routerLink]="['/details/profileOf']" [queryParams]="{user: worker.profile.firstName, userId: worker._id}"
      (click)="handleClick(worker)">
    <td><img src="{{worker.profile.pictureLink}}" class="image"/></td>
    <td>{{worker.profile.firstName}}</td>
    <td>{{worker.profile.lastName}}</td>
    <td>{{worker.profile.number}}</td>
    <td *ngIf="worker.profile.job!==null">{{worker.profile.job.split('-')[0].toUpperCase()}}</td>
  </tr>
  </tbody>
</table>


