<button mat-raised-button (click)="onClickBack()">Back</button>
<mat-card class="example-card">
  <mat-card-header>
    <div class="header">
      <div class="dropdown">
        <div class="image-header">
          <img src="{{picture}}" alt="{{firstName + ' ' + name}}">
        </div>
        <div class="dropdown-content">
          <img src="{{picture}}" alt="{{firstName + ' ' + name}}">
        </div>
      </div>
      <mat-card-title><h1>{{firstName + ' ' + name}}</h1></mat-card-title>
      <br>
      <mat-card-subtitle>{{sector}}</mat-card-subtitle>

    </div>
  </mat-card-header>
  <br>
  <br>
  <br>

  <mat-card-content>
    <h3>Email: </h3><a href="mailto:{{email}}">{{email}}</a><br>
    <h3>Phone number: </h3>{{phoneNumber}}<br>

  </mat-card-content>
</mat-card>
