<div class="container">
  <h1>
    Welcome to the enterprise directory
  </h1>
  <br>
  <br>
  <form class="example-form">
    <div class="formContainer">
    <mat-form-field class="example-full-width">
      <input matInput placeholder="co-worker" aria-label="co-worker"
             [matAutocomplete]="auto" [formControl]="stateCtrl">
      <mat-autocomplete #auto="matAutocomplete">
        <mat-option *ngFor="let state of filteredStates | async "
                    [value]="state.firstName + ' ' + state.name">
          <span>{{ state.firstName }}</span>
          <span>{{state.name}}</span>
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>
      <mat-form-field>
        <mat-select placeholder="job">
          <mat-option *ngFor="let job of jobs" [value]="job.value">
            {{ job.viewValue }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    <div class="buttons">
      <button class="button buttonBlack">Search</button>
      <button class="button buttonBlack">Search All</button>
    </div>
    </div>
  </form>
</div>
